/* настраиваем систему border-box. Вообще говоря, box-sizing учитывает, как у нас высчитываются всякие расстояния вёрстки, учитываются или не 
учитываются паддинги или марджины */
html {
    /* border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента. 
    Если вы выставите элементу ширину 100 пикселей, то эти 100 пикселей будут включать в себя границы и внутренние отступы, а контент сожмётся,
    чтобы выделить для них место. Обычно это упрощает работу с размерами элементов. */
    box-sizing: border-box;
}

*, *::after, *::before {
    /* inherit означает, что свойство box-sizing наследует значение родителя этого же свойства. */
    box-sizing: inherit;
}

ul {
    /* убирает маркеры и элементов маркированного списка */
    list-style: none;
}

a {
    /* убирает какие-либо подчеркивания/надчеркивания у ссылок */
    text-decoration: none;
    /* цвет будет наследоваться от родителя, inherit - значит наследуется от родительского тега */
    color: inherit;
}
/* свойства для класса контейнера */
.container {
    /* ширина контейнера 1200рх, видно из макета. Но у нас есть внутренние отступы справа и слева по 20рх, которые добавляют к общей 
    ширине 40рх, поэтому имеем всего 1240рх. */
    max-width: 1240px;
    /* для того, чтобы блок с фиксированной шириной поставить по центру, пишем margin: 0 auto. То есть, у нас слева и справа всегда будет
    учитываться расстояние */
    margin: 0 auto;
    /* внутренние отступы внутри контейнера слева и справа по 20рх. */
    padding: 0 20px;
}