/* настраиваем систему border-box. Вообще говоря, box-sizing учитывает, как у нас высчитываются всякие расстояния вёрстки, учитываются или не 
учитываются паддинги или марджины */
html {
    /* border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента. 
    Если вы выставите элементу ширину 100 пикселей, то эти 100 пикселей будут включать в себя границы и внутренние отступы, а контент сожмётся,
    чтобы выделить для них место. Обычно это упрощает работу с размерами элементов. */
    box-sizing: border-box;
}
/* класс для шрифта Cormorant */
.cormorant {
  font-family: "Cormorant", serif;
  font-style: italic;
}

/* для тега body(заметим, что здесь мы пишем основные стили, далее мы их можем менять в зависимости от конкретного места) */
body {
    /* цвет всего внутри тега body будет таким */
    color: #151618;
    /* размер шрифта 20рх */
    font-size: 20px;
    /* создает начертание шрифта, 300 - светлое начертание */
    font-weight: 300;
    /* С помощью line-height можно выбрать, насколько большое расстояние будет между строчками текста. Обычно это расстояние немного больше,
    чем высота шрифта. Для обычного текста чаще всего используют полуторный интервал line-height: 1.5. С таким интервалом текст удобнее читать. 
    За единицу берется значение свойства font-family */
    line-height: 1.5;
    /* по умолчанию у нас везде будет шрифт open-sans, и в других местах если понадобится, будем писать другой шрифт уже на месте, так как
    наш указанный ниже встречается чаще всего. */
    font-family: "Open Sans", sans-serif;
    /* опять же, среднее значение жирности шрифта 400, если что, в других местах пишем нужное значение. */
    font-weight: 400;
}

*, *::after, *::before {
    /* inherit означает, что свойство box-sizing наследует значение родителя этого же свойства. */
    box-sizing: inherit;
}
/* для всех тегов ul */
ul {
    /* убирает маркеры и элементов маркированного списка */
    list-style: none;
}
/* для всех тегов а */
a {
    /* убирает какие-либо подчеркивания/надчеркивания у ссылок */
    text-decoration: none;
    /* цвет будет наследоваться от родителя, inherit - значит наследуется от родительского тега */
    color: inherit;
}
/* свойства для класса контейнера */
.container {
    /* ширина контейнера 1200рх, видно из макета. Но у нас есть внутренние отступы справа и слева по 20рх, которые добавляют к общей 
    ширине 40рх, поэтому имеем всего 1240рх. */
    max-width: 1240px;
    /* для того, чтобы блок с фиксированной шириной поставить по центру, пишем margin: 0 auto. То есть, у нас слева и справа всегда будет
    учитываться расстояние */
    margin: 0 auto;
    /* внутренние отступы внутри контейнера слева и справа по 20рх. */
    padding: 0 20px;
}
/* для внутреннего содержимого контейнера с шапкой */
.header__inner {
    /* используем флекс-контейнер */
    display: flex;
    /* распределяем элементы равномерно */
    justify-content: space-between;
    /* пишем это, чтобы элементы стали по центру */
    align-items: center;
    /* минимальная высота блока - 140рх. */
    min-height: 140px;
    /* сверху и снизу отступ по 30рх */
    padding: 30px 0;
}
/* для логотипа */
.logo {
    /* подвинем логотип на 35рх вверх относительно блока header__inner */
    margin-bottom: 35px;
}
/* выравниваем список меню */
.menu__list {
    /* делаем флекс-контейнер */
    display: flex;
    /* все элементы выраниваем в линию по центру */
    align-items: center;
    /* между каждым элементом расстояние 65рх в ширину. */
    gap: 65px;
    /* здесь у нас толщина шрифта 400, то есть regular.  */
    font-weight: 400;
    font-size: 18px;
    /* это сделали на глаз, так как у нас отступ между иконкой и навигационным списком 235рх всего, а справа он наоборот меньше. Можно
    было бы конечно использовать Pixel Perfect, но так делают очень редко. */
    margin-left: 85px;
}
/* выравниваем список иконок, связанных с пользователем */
.user-actions {
    /* делаем флекс-контейнер */
    display: flex;
    /* распределяем элементы равномерно внутри контейнера */
    justify-content: space-between;
    /* в данном случае между каждым элементом делаем отступ по 20рх внутри контейнера */
    gap: 20px;
}
/* это дополнительный класс-модификатор, связанный с иконкой поиска */
.user-actions__item-search {
    /* здесь мы это делаем, чтобы отступ между второй и третьей иконкой был 100рх, потому что так нужно по макету. Мы имеем 20рх от свойства
    gap, и 80рх будем иметь отсюда, итого 100рх */
    margin-left: 80px;
}